<div>
    <h2>Enter Details</h2>
    <br>

      <div *ngIf="sts then ss1 else ss2"></div>
      <ng-template #ss1>
      <h4 style="color:rgb(61, 110, 8)">{{status}}</h4>
      </ng-template>

      <ng-template #ss2>
          <h4 style="color:rgb(221, 6, 6)">{{status}}</h4>
      </ng-template>
    

   
    <form>

        <div class="form-group">
          <label for="email">Name:</label>
          <input type="text" class="form-control"  placeholder="Enter name" name="name" (input)="addName($event)">
        </div>

        <div class="form-group">
          <label for="pwd">Email:</label>
          <input type="text" class="form-control"  placeholder="Enter email" name="email" (input)="addEmail($event)">
        </div>

        <div class="form-group">
          <label for="pwd">Age:</label>
          <input type="text" class="form-control"  placeholder="Enter age" name="age" (input)="addAge($event)">
        </div>

        <div class="form-group">
            <label for="pwd">Phone:</label>
            <input type="text" class="form-control"  placeholder="Enter phone" name="phone" (input)="addPhone($event)">
        </div>
      
      <button type="submit" class="btn btn-primary" (click)="addstudent()">Submit</button>
    </form>
  </div>
  <br>
  <br>

  <div>
      <h2>List</h2>       
      <table class="table table-bordered">
        <thead>

          <tr>
            <th>Sno</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Phone</th> 
          </tr>

        </thead>
        <tbody>

          <tr *ngFor="let students of studentList; let i of index">
            <td>{{ i + 1 }}</td>
            <td>{{students.name}}</td>
            <td>{{students.email}}</td>
            <td>{{students.age}}<span *ngIf="students.age>18" style="color:green">(E)</span></td>
            <td>{{students.phone}}</td> 
          </tr>
          
        </tbody>
      </table>
    </div>
