<p>
  about works!
</p>
{{ proid }}
{{ proname }}
<app-sub></app-sub>
<a [routerLink]="['/about',127,'macbook']" [queryParams]="{ order: 'popular', order2: 'popular'}" fragment="other">Macbook</a>
<a [routerLink]="['/about',126,'macbook333']" [queryParams]="{ order: 'popular', order2: 'popular'}" fragment="other">Macbook</a>
<a [routerLink]="['/about',126767,'macbook444']" [queryParams]="{ order: 'popular', order2: 'popular'}" fragment="other">Macbook</a>
<a [routerLink]="['/about',1276556,'macbook55']" [queryParams]="{ order: 'popular', order2: 'popular'}" fragment="other">Macbook</a>
<a [routerLink]="['/about',1275656,'macbook66']" [queryParams]="{ order: 'popular', order2: 'popular'}" fragment="other">Macbook</a>
