<div class="col-sm-5">
  <div class="form-group">
    <a href="#" (click)="anchorClicked($event)"><span>Check this</span></a>
    <input type="text" value="" (input)="addName($event)" class="form-control">
    <input type="text" value="" (input)="addAge($event)" class="form-control">
  </div>
  <button class="btn btn-primary" (click)="insertInfo()">Insert Data</button>
</div>

<div *ngIf="st then stmt1 else stmt2"></div>
<ng-template #stmt1>
  <div>{{status}}</div>
</ng-template>
<ng-template #stmt2>
  <div>{{status}}</div>   
</ng-template>

<ul>
  <li *ngFor="let student of students;">
    <div *ngIf="student.age>50">{{student.name}} {{ student.age }}</div>
  </li>
</ul>


<!--
<ul>
  <li *ngFor="let student of students; let i of index">
    <div *ngIf="student.age>50">{{i}} {{student.name}} {{ student.age }}</div>
  </li>
</ul>
-->



<!--
<ul>
  <li *ngFor="let index of myCount;">
    <div>Hello</div>
  </li>
</ul>
--> 
<div class="col-sm-12"></div>
<div class="clearfix"></div>
<br>
<br>
<hr>



