<br>
<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Sno</th>
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
      <th>Phone</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of studentDetails; let i = index">
      <td>{{i+1}}</td>
      <td>{{data.name}}</td>
      <td>{{data.email}}</td>
      <td>{{data.age}}</td>
      <td>{{data.phone}}</td>
      <td>
        <span class="glyphicon  glyphicon glyphicon-remove" style="color: red; padding-left: 20px;" (click)="removestudent(i+1)"></span>
      </td>
    </tr>
    
  </tbody>
</table>