<div class="wrapper">
  <!-- Sidebar Holder -->
  <app-sidebar  id="sidebar"></app-sidebar>


  <!-- Page Content Holder -->
  <div id="content">
    <app-header></app-header>
    <!--<app-directives></app-directives>-->
    <!--<app-register (addingStudent)="mainFuncAddStudent($event)"></app-register>-->
    <!--<app-localref (addingStudent)="mainFuncAddStudent($event)"></app-localref>-->

    <!--<app-list [students]="studentList"></app-list>-->
    <!--<app-body></app-body>-->
    <!--<app-interfaces [studentint]="studentList"></app-interfaces>-->
    <!--<div appCustom class="adsdsd" [suryacolor]="'#521df4'" [suryafontcolor]="'#FFAA55'" >This is my <br> Div</div>-->
    <!--<div appCustom  [suryacolor]="'#52aaf6'" [suryafontcolor]="'#FF8855'">This is my <br> Div</div>-->
    <!--<div appCustom class="adsdsd" [suryacolor]="'#521df4'" [suryafontcolor]="'#FFAA55'" >This is my <br> Div</div>-->
    <!--<div appCustom  [suryacolor]="'#52aaf6'" [suryafontcolor]="'#FF8855'">This is my <br> Div</div>-->
    <!--<div appCustom class="adsdsd" [suryacolor]="'#521df4'" [suryafontcolor]="'#FFAA55'" >This is my <br> Div</div>-->
    <!--<div appCustom  [suryacolor]="'#52aaf6'" [suryafontcolor]="'#FF8855'">This is my <br> Div</div>-->
    <!--<div appCustom class="adsdsd" [suryacolor]="'#521df4'" [suryafontcolor]="'#FFAA55'" >This is my <br> Div</div>-->
    <!--<div appCustom  [suryacolor]="'#52aaf6'" [suryafontcolor]="'#FF8855'">This is my <br> Div</div>-->


    <app-servcompin></app-servcompin>
    <app-servcompout></app-servcompout>
  </div>
</div>

<app-footer></app-footer>
